In [ ]:
%cd ../

In [ ]:
import pandas as pd
import numpy as np
from classification.sentimental_analyzer import SentimentalAnalyzer
from translation.translator import Translator
from tqdm import tqdm

In [3]:
df = pd.read_csv('../data/merge_ChatDaily_ChatGPT1_TweetsJanMar_ChatGPT.csv')
df = df.drop('Unnamed: 0', axis=1)
df.head()

C:\Users\Lorenzo\AppData\Local\Temp\ipykernel_9328\3857966671.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/merge_ChatDaily_ChatGPT1_TweetsJanMar_ChatGPT.csv')

,Date,Text,Language,Likes,Retweets
0,2023-01-22 13:44:34+00:00,The unknown background of ChatGPT: Cheap labor...,ja,5.0,0.0
1,2023-01-22 13:44:44+00:00,Check out what @fobizz @DianaKnodel brings to ...,de,4.0,0.0
2,2023-01-22 13:44:52+00:00,"this GPT chat is great for explaining code, it...",tr,4.0,0.0
3,2023-01-22 13:45:00+00:00,But people can make money by selling books tha...,tr,1.0,0.0
4,2023-01-22 13:45:10+00:00,Check out what @fobizz @DianaKnodel brings to ...,ja,0.0,0.0

In [4]:
print(f"\
Formato do DataFrame: {df.shape}\n\n\
Quantidade de valores nulos por coluna: \n{df.isna().sum()}\n\n\
Número de linhas duplicadas na coluna 'Text': {df.duplicated(subset=['Text']).sum()}")

Formato do DataFrame: (1071388, 5)

Quantidade de valores nulos por coluna:
Date          18
Text        5356
Language       0
Likes        153
Retweets     179
dtype: int64

Número de linhas duplicadas na coluna 'Text': 386985

In [5]:
df = df.dropna()
df.drop_duplicates(subset=['Text'], inplace=True)
df.shape

(684352, 5)

In [6]:
# por algum motivo, nem todas as linhas estão traduzidas
# df_not_en = df.query('Language != "en"')
# df_not_en

In [7]:
df_not_en = pd.read_csv('../data/df_not_en.csv', index_col=0)
df_not_en

,Date,Text,Language,Likes,Retweets
0,2023-01-22 13:44:34+00:00,The unknown background of ChatGPT: Cheap labor...,ja,5.0,0.0
1,2023-01-22 13:44:44+00:00,Check out what @fobizz @DianaKnodel brings to ...,de,4.0,0.0
2,2023-01-22 13:44:52+00:00,"this GPT chat is great for explaining code, it...",tr,4.0,0.0
3,2023-01-22 13:45:00+00:00,But people can make money by selling books tha...,tr,1.0,0.0
6,2023-01-22 13:45:14+00:00,#ChatGPT spends $3 million a day on cloud oper...,pl,5.0,1.0
...,...,...,...,...,...
72443,2023-05-12 03:59:55+00:00,RT @StelsRay: 最近ChatGPT活用形のツイートとかよく見かけるけど\n見出し...,ja,0.0,5.0
72450,2023-05-12 11:59:45+00:00,RT @nobel_sean: 作ったものがようやく一つ出た！\nWebとChatGPTのイ...,ja,0.0,9.0
72453,2023-05-12 19:59:51+00:00,involve decide behind \n#蒜香豆角 집에서 핸드메이드 캔들을 만들...,ko,10.0,10.0
72454,2023-05-12 10:58:58+00:00,ChatGPTの漫画向けの使い方支援のような感じかな\n集英社が率先してやっている点がすごい...,ja,0.0,0.0
72459,2023-05-12 07:59:45+00:00,RT @PeterColumns: ChatGPT 4 n'est pas capable ...,fr,0.0,3.0

In [8]:
#translator = Translator()
# batch_size = 100
# translations_list = []
# for i in tqdm(range((df_not_en.shape[0] + batch_size)//batch_size)):
#     start_index = i * batch_size
#     end_index = i * batch_size + batch_size
#     list_temp = df_not_en[start_index:end_index].copy()['Text'].tolist()
#     translations_list.extend(translator.translate_list(list_temp))
#
# translations = pd.DataFrame({'Text': translations_list})
# translations.to_csv('../data/translation_not_en.csv', index=True)

In [9]:
translations = pd.read_csv('../data/translation_not_en.csv')
translations = translations.drop(translations.columns[0], axis=1)
print(translations.shape)
translations.head()

(23016, 1)

                                                Text
0  The unknown background of ChatGPT: Cheap labor...
1  Check out what @fobizz @DianaKnodel brings to ...
2  this GPT chat is great for explaining code, it...
3  But people can make money by selling books tha...
4  #ChatGPT spends $3 million a day on cloud oper...

In [10]:
df_not_en['Text'] = translations['Text'].tolist()
df_not_en

,Date,Text,Language,Likes,Retweets
0,2023-01-22 13:44:34+00:00,The unknown background of ChatGPT: Cheap labor...,ja,5.0,0.0
1,2023-01-22 13:44:44+00:00,Check out what @fobizz @DianaKnodel brings to ...,de,4.0,0.0
2,2023-01-22 13:44:52+00:00,"this GPT chat is great for explaining code, it...",tr,4.0,0.0
3,2023-01-22 13:45:00+00:00,But people can make money by selling books tha...,tr,1.0,0.0
6,2023-01-22 13:45:14+00:00,#ChatGPT spends $3 million a day on cloud oper...,pl,5.0,1.0
...,...,...,...,...,...
72443,2023-05-12 03:59:55+00:00,RT @StelsRay: Lately I see a lot of tweets usi...,ja,0.0,5.0
72450,2023-05-12 11:59:45+00:00,RT @nobel_sean: Finally got one of my creation...,ja,0.0,9.0
72453,2023-05-12 19:59:51+00:00,involve decide behind\n#蒜香豆角 Make handmade can...,ko,10.0,10.0
72454,2023-05-12 10:58:58+00:00,It feels like a support for how to use ChatGPT...,ja,0.0,0.0
72459,2023-05-12 07:59:45+00:00,RT @PeterColumns: ChatGPT 4 is not able to lea...,fr,0.0,3.0

In [11]:
indexes = df_not_en.index
df.loc[indexes, 'Text'] = df_not_en['Text'].copy()
df.loc[indexes]

,Date,Text,Language,Likes,Retweets
0,2023-01-22 13:44:34+00:00,The unknown background of ChatGPT: Cheap labor...,ja,5.0,0.0
1,2023-01-22 13:44:44+00:00,Check out what @fobizz @DianaKnodel brings to ...,de,4.0,0.0
2,2023-01-22 13:44:52+00:00,"this GPT chat is great for explaining code, it...",tr,4.0,0.0
3,2023-01-22 13:45:00+00:00,But people can make money by selling books tha...,tr,1.0,0.0
6,2023-01-22 13:45:14+00:00,#ChatGPT spends $3 million a day on cloud oper...,pl,5.0,1.0
...,...,...,...,...,...
72443,2023-05-12 03:59:55+00:00,RT @StelsRay: Lately I see a lot of tweets usi...,ja,0.0,5.0
72450,2023-05-12 11:59:45+00:00,RT @nobel_sean: Finally got one of my creation...,ja,0.0,9.0
72453,2023-05-12 19:59:51+00:00,involve decide behind\n#蒜香豆角 Make handmade can...,ko,10.0,10.0
72454,2023-05-12 10:58:58+00:00,It feels like a support for how to use ChatGPT...,ja,0.0,0.0
72459,2023-05-12 07:59:45+00:00,RT @PeterColumns: ChatGPT 4 is not able to lea...,fr,0.0,3.0

In [12]:
lang_group = df.groupby('Language').size()
lang_maintain = lang_group[lang_group > 1000].index
df_filtered_lang = df[df['Language'].isin(lang_maintain)]

In [13]:
df_filtered_lang.groupby('Language').count()

            Date    Text   Likes  Retweets
Language
de          1029    1029    1029      1029
en        661336  661336  661336    661336
es          3817    3817    3817      3817
fr          2448    2448    2448      2448
ja          8291    8291    8291      8291
pt          1290    1290    1290      1290

In [21]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# #rc('font',**{'family':'sans-serif','sans-serif':['Helvetica']})
# plot_df = np.log(df_filtered_lang.groupby('Language').count()['Text'])

# sns.barplot(x=plot_df, y=plot_df.index, palette=['#ff00ff'], orient='h')

# plt.xlabel('')
# plt.ylabel('')
# plt.title('')

# ax = plt.gca()
# ax.xaxis.labelpad = 10
# ax.yaxis.labelpad = 15

In [15]:
df_filtered_lang_not_en = df_filtered_lang.query('Language != "en"')
df_filtered_lang_not_en.shape

(16875, 5)

In [16]:
analyzer = SentimentalAnalyzer()

In [19]:
df_filtered_lang_classified = analyzer.classify_df_parallel(df_filtered_lang, 'Text')

100%|██████████| 678211/678211 [03:15<00:00, 3471.35it/s]
100%|██████████| 678211/678211 [00:02<00:00, 320993.85it/s]

In [28]:
df_filtered_lang['polarity'] = df_filtered_lang_classified
df_filtered_lang

C:\Users\Lorenzo\AppData\Local\Temp\ipykernel_9328\1179634047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_lang['polarity'] = df_filtered_lang_classified

In [39]:
df_filtered_lang.to_csv('../data/df_filtered_lang_classified.csv', index=False)

In [38]:
df_filtered_lang['Language'].value_counts()

en    661336
ja      8291
es      3817
fr      2448
pt      1290
de      1029
Name: Language, dtype: int64

In [36]:
df_filtered_lang.groupby('Language')['polarity'].sum()/df_filtered_lang.groupby('Language')['polarity'].count()

Language
de    0.277940
en    0.368149
es    0.303380
fr    0.281454
ja    0.346158
pt    0.257364
Name: polarity, dtype: float64