In [1]:
%cd ../

/home/francisco/Documents/Francisco/Faculdade/4_Semestre/IntroducaoACienciaDeDados/Trabalho ICD/tpICD/src

In [2]:
import pandas as pd
import numpy as np
from classification.sentimental_analyzer import SentimentalAnalyzer
from translation.translator import Translator

In [4]:
df = pd.read_csv('../data/merge_ChatDaily_ChatGPT1_TweetsJanMar_ChatGPT.csv')
df = df.drop('Unnamed: 0', axis=1)
df.head()

/tmp/ipykernel_41266/3857966671.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/merge_ChatDaily_ChatGPT1_TweetsJanMar_ChatGPT.csv')

,Date,Text,Language,Likes,Retweets
0,2023-01-22 13:44:34+00:00,The unknown background of ChatGPT: Cheap labor...,ja,5.0,0.0
1,2023-01-22 13:44:44+00:00,Check out what @fobizz @DianaKnodel brings to ...,de,4.0,0.0
2,2023-01-22 13:44:52+00:00,"this GPT chat is great for explaining code, it...",tr,4.0,0.0
3,2023-01-22 13:45:00+00:00,But people can make money by selling books tha...,tr,1.0,0.0
4,2023-01-22 13:45:10+00:00,Check out what @fobizz @DianaKnodel brings to ...,ja,0.0,0.0

In [5]:
df.shape

(1071388, 5)

In [6]:
df.isna().sum()

Date          18
Text        5356
Language       0
Likes        153
Retweets     179
dtype: int64

In [7]:
df = df.dropna()

In [8]:
df.duplicated(subset=['Text']).sum()

381559

In [9]:
df.drop_duplicates(subset=['Text'], inplace=True)

In [10]:
df.shape

(684352, 5)

In [11]:
translator = Translator()

In [12]:
# por algum motivo, nem todas as linhas estão traduzidas
df_not_en = df.query('Language != "en"')
df_not_en.shape

(23016, 5)

In [12]:
translations = translator.translate_df_parallel(df_not_en, 'Text')

100%|██████████| 2000/2000 [00:05<00:00, 353.58it/s]

KeyboardInterrupt:

In [ ]:
translations

In [ ]:
s = SentimentalAnalyzer()

In [ ]:
df.to_csv('./merged_dataset_analysed.csv', index=False)

In [ ]:
df.shape

In [ ]:
661336/684352 # em ingles

In [ ]:
df.groupby('Language').count()

In [ ]:
lang_group = df.groupby('Language').size()

In [ ]:
lang_maintain = lang_group[lang_group > 1000].index

In [ ]:
df_filtered_lang = df[df['Language'].isin(lang_maintain)]

In [ ]:
df_filtered_lang.shape

In [ ]:
df_filtered_lang.groupby('Language').count()

In [ ]:
df_not_en = df_filtered_lang.query('Language != "en"')
df_not_en.shape

In [ ]:
df_not_en_translated = translator.translate_df_parallel(df_not_en, 'Text')