In [1]:
%cd ../

c:\Users\Lorenzo\OneDrive\Área de Trabalho\studies\faculdade\4PERIODO\ICD\tpICD\src

In [2]:
import pandas as pd
import numpy as np
from classification.sentimental_analyzer import SentimentalAnalyzer

In [3]:
# df = pd.read_csv('../data/training.1600000.processed.noemoticon.csv', encoding='ISO-8859-1',
#                   header=None, names=['polarity', 'id', 'date', 'flag', 'user', 'text'])
# df = df.drop('flag', axis=1)
# df['polarity'] = df['polarity'].apply(lambda x: -1 if x == 0 else (0 if x == 2 else 1)
# )
# df.head()

,polarity,id,date,user,text
0,-1,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,-1,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
2,-1,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
3,-1,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,-1,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
s = SentimentalAnalyzer()

In [12]:
# df['our_polarity'] = s.classify_df_parallel(df, 'text')
# df.head()

100%|██████████| 1600000/1600000 [06:08<00:00, 4341.90it/s]
100%|██████████| 1600000/1600000 [00:04<00:00, 327223.53it/s]

,polarity,id,date,user,text,our_polarity
0,-1,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0
1,-1,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...,-1
2,-1,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...,1
3,-1,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire,-1
4,-1,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all....",-1

In [13]:
# df.to_csv('./dataset_tweets_general_classified.csv', index=False)