In [3]:
import pandas as pd
import numpy as np

In [12]:
# %cd ../
# from classification.sentimental_analyzer import SentimentalAnalyzer
# df = pd.read_csv('../data/training.1600000.processed.noemoticon.csv', encoding='ISO-8859-1',
#                   header=None, names=['polarity', 'id', 'date', 'flag', 'user', 'text'])
# df = df.drop('flag', axis=1)
# df['polarity'] = df['polarity'].apply(lambda x: -1 if x == 0 else (0 if x == 2 else 1))
# df.head()
# s = SentimentalAnalyzer()
# df['our_polarity'] = s.classify_df_parallel(df, 'text')
# df.to_csv('./dataset_tweets_general_classified.csv', index=False)

100%|██████████| 1600000/1600000 [06:08<00:00, 4341.90it/s]
100%|██████████| 1600000/1600000 [00:04<00:00, 327223.53it/s]

,polarity,id,date,user,text,our_polarity
0,-1,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0
1,-1,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...,-1
2,-1,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...,1
3,-1,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire,-1
4,-1,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all....",-1

In [4]:
df = pd.read_csv('../../data/dataset_tweets_general_classified.csv')
df.head()

,polarity,id,date,user,text,our_polarity
0,-1,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0
1,-1,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...,-1
2,-1,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...,1
3,-1,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire,-1
4,-1,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all....",-1

In [9]:
equal_count = (df['polarity'] == df['our_polarity']).sum()
divergence_count = (((df['polarity'] == -1) & (df['our_polarity'] == 1)) | ((df['polarity'] == 1) & (df['our_polarity'] == -1))).sum()
neutral_count = (((df['polarity'] == 0) & (df['our_polarity'] == 1)) | 
                 ((df['polarity'] == 0) & (df['our_polarity'] == -1))|
                 ((df['polarity'] == 1) & (df['our_polarity'] == 0)) |
                 ((df['polarity'] == -1) & (df['our_polarity'] == 0))).sum()

329224

In [45]:
print(f'\
Equal: {round(equal_count / len(df) * 100, 2)}%\n\
Divergence: {round(divergence_count / len(df) * 100, 2)}%\n\
Neutral: {round(neutral_count / len(df) * 100, 2)}%\n\n\
Not divergent: {round((equal_count + neutral_count) / len(df) * 100, 2)}%\n')

Equal: 52.42%
Divergence: 20.58%
Neutral: 27.01%

Not divergent: 79.42%

In [53]:
our_polarity_grouped = df['our_polarity'].value_counts()
print(f'\
Positive: {round(our_polarity_grouped[1] / len(df) * 100, 2)}%\n\
Negative: {round(our_polarity_grouped[-1] / len(df) * 100, 2)}%\n\
Neutral: {round(our_polarity_grouped[0] / len(df) * 100, 2)}%\n')

Positive: 46.89%
Negative: 26.1%
Neutral: 27.01%

In [52]:
# não tem neutro
polarity_grouped = df['polarity'].value_counts()
print(f'\
Positive: {round(polarity_grouped[1] / len(df) * 100, 2)}%\n\
Negative: {round(polarity_grouped[-1] / len(df) * 100, 2)}%\n')

Positive: 50.0%
Negative: 50.0%