In [1]:
import pandas as pd

In [76]:
df1 = pd.read_csv('../mergeCompleto.csv')

/tmp/ipykernel_4246/2329655370.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('../mergeCompleto.csv')

In [77]:
df2 = pd.read_csv('../../data/dfBot.csv')

In [21]:
df1.head()

,Unnamed: 0,Date,Text,Language,Likes,Retweets
0,17925,2023-01-22 13:44:39+00:00,@AlexandrovnaIng Prohibition of ChatGPT has be...,en,5.0,0.0
1,17926,2023-01-22 13:44:49+00:00,Bow down to chatGPT ðŸ«¡..... https://t.co/ENTSzi...,en,2.0,0.0
2,17927,2023-01-22 13:45:03+00:00,ChatGPT runs 10K Nvidia training GPUs with pot...,en,0.0,0.0
3,17928,2023-01-22 13:45:04+00:00,@SWENGDAD There is repetitive work in every jo...,en,3.0,0.0
4,17929,2023-01-22 13:45:06+00:00,I created a fictional jewelry brand using Chat...,en,2.0,1.0

In [22]:
df2.head()

,user,date,tweet,retweets,likes,is_bot
0,torksmith,2023-04-08 03:22:02+00:00,ðŸŒŸ enhance business cutting-edge ai technology!...,0.0,0.0,1
1,DaveHallmon,2023-04-08 02:47:02+00:00,ok... @romanklis decided go back beyond safety...,0.0,0.0,1
2,torksmith,2023-04-08 02:36:03+00:00,ðŸŒŸ enhance business cutting-edge ai technology!...,0.0,0.0,1
3,torksmith,2023-04-08 01:52:04+00:00,ðŸŒŸ enhance business cutting-edge ai technology!...,0.0,0.0,1
4,StrangeVoodooTV,2023-04-08 01:16:09+00:00,come &amp; watch ai attempt create ultimate nf...,0.0,1.0,1

In [66]:
langDf1 = df1['Language']

In [78]:
df2 = df2.rename(columns={'date': 'Date', 'tweet': 'Text', 'likes': 'Likes', 'retweets': 'Retweets'})
df2 = df2[['Date', 'Text', 'Likes', 'Retweets']]
#df2['Language'] = ''
df1 = df1[['Date', 'Text', 'Likes', 'Retweets', 'Language']]

In [73]:
df1.head()

,Date,Text,Likes,Retweets,Language
0,2023-01-22 13:44:39+00:00,@AlexandrovnaIng Prohibition of ChatGPT has be...,5.0,0.0,en
1,2023-01-22 13:44:49+00:00,Bow down to chatGPT ðŸ«¡..... https://t.co/ENTSzi...,2.0,0.0,en
2,2023-01-22 13:45:03+00:00,ChatGPT runs 10K Nvidia training GPUs with pot...,0.0,0.0,en
3,2023-01-22 13:45:04+00:00,@SWENGDAD There is repetitive work in every jo...,3.0,0.0,en
4,2023-01-22 13:45:06+00:00,I created a fictional jewelry brand using Chat...,2.0,1.0,en

In [74]:
df2.head()

,Date,Text,Likes,Retweets,Language
0,2023-04-08 03:22:02+00:00,ðŸŒŸ enhance business cutting-edge ai technology!...,0.0,0.0,
1,2023-04-08 02:47:02+00:00,ok... @romanklis decided go back beyond safety...,0.0,0.0,
2,2023-04-08 02:36:03+00:00,ðŸŒŸ enhance business cutting-edge ai technology!...,0.0,0.0,
3,2023-04-08 01:52:04+00:00,ðŸŒŸ enhance business cutting-edge ai technology!...,0.0,0.0,
4,2023-04-08 01:16:09+00:00,come &amp; watch ai attempt create ultimate nf...,1.0,0.0,

In [79]:

df_diferentes = df1[~df1.isin(df2)].dropna()

In [80]:
df1.shape

(684352, 5)

In [81]:
df2.shape

(9056, 4)

In [82]:
df_diferentes.shape

(678185, 5)

In [75]:
684352-9056

675296

In [72]:
df_diferentes.head()

,Date,Text,Likes,Retweets,Language
4,2023-01-22 13:45:06+00:00,I created a fictional jewelry brand using Chat...,2.0,1.0,en
8,2023-01-22 13:45:15+00:00,ðŸ¤¯ #ChatGPT writes excel formulas!\n\n#Microsof...,20.0,6.0,en
17,2023-01-22 13:46:14+00:00,There goes the entire #PR industry. I just wr...,2.0,1.0,en
22,2023-01-22 13:46:35+00:00,"Soon, we will see a scenario where we will dis...",7.0,1.0,en
25,2023-01-22 13:46:48+00:00,ChatGPT is free ðŸ‘€\n\nThat's why I made this fr...,348.0,40.0,en

In [83]:
df_diferentes.to_csv('dfSemBot.csv')

In [ ]:
df =