In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [2]:
analyzer = SentimentIntensityAnalyzer()

In [3]:
def classify(phrase_or_score : str | float , analyzer=analyzer) -> int:
        if isinstance(phrase_or_score, str):
            score = analyzer.polarity_scores(phrase_or_score)['compound']
        else:
            score = phrase_or_score

        if score >= 0.05:
            return 1
        elif score <= -0.05:
            return -1
        else:
            return 0

In [7]:
df = pd.read_csv('../../twitter16.csv', encoding='latin-1')

In [13]:
new_columns = df.columns.tolist()
indexes_to_rename = {0: '1', 2: 'date', 3: 'flag', 4: 'user', 5: 'tweet'}

for index, new_name in indexes_to_rename.items():
    if index < len(new_columns):  # Check to avoid index out of range error
        new_columns[index] = new_name

df.columns = new_columns

In [14]:
df.head()

,1,2,date,flag,user,tweet
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [16]:
df["preds"] = df["tweet"].apply(classify)

In [18]:
# produces csv with the new column
df.to_csv('../../twitter16_with_preds.csv')